@*Jquery*@
<script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("bower_components/jquery-ui/jquery-ui.js")" type="text/javascript"></script>

@*Core Themes*@
<script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("material-design/material.js")" type="text/javascript"></script>

@*Jquery CSV*@
<script src="@routes.Assets.versioned("bower_components/jquery-csv/src/jquery.csv.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("bower_components/jquery-toast-plugin/dist/jquery.toast.js")" type="text/javascript"></script>

@*DownloadJS*@
<script src="@routes.Assets.versioned("bower_components/downloadjs/download.js")" type="text/javascript"></script>

@*PDF*@
<script src="@routes.Assets.versioned("bower_components/pdfmake/build/pdfmake.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("bower_components/pdfmake/build/vfs_fonts.js")" type="text/javascript"></script>

@*Open Layers 3.1.0*@
<script src="@routes.Assets.versioned("openlayers/3.1.0/build/ol.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("bower_components/proj4/dist/proj4.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("openlayers/js/epsg/29191.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("openlayers/js/epsg/31981.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("openlayers/js/epsg/900913.js")" type="text/javascript"></script>

@*Momentjs*@
<script src="@routes.Assets.versioned("bower_components/moment/min/moment.js")" type="text/javascript"></script>

@*Mapa*@
<script src="@routes.Assets.versioned("javascripts/mapa/variaveis.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mapa/relatorios.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mapa/servicos.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mapa/botoes.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mapa/popup.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mapa/verificadores.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/mapa/mapa.js")" type="text/javascript"></script>