@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

<!doctype html>
<html ng-app="biogas-map" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="MAPA">
    <meta name="apple-mobile-web-app-title" content="MAPA">

    <title>BIOGASMAP | CIBiogás</title>

    <link rel="icon" sizes="192x192" href="${project}/img/ministerios/favicon-mapa.ico">
    <link rel="apple-touch-icon-precomposed" href="${project}/img/ministerios/favicon-mapa.ico">
    <link rel="shortcut icon" type="image/png" href="${project}/img/ministerios/favicon-mapa.ico">

    <!-- Bootstrap core CSS -->
    <link href="${project}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="${project}/material-design/material.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="css/material-fonts.css">
    <link rel="stylesheet" media="screen" href="css/material-icons.css">

    <link rel="stylesheet" href="${project}/bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="${project}/OpenLayers3/3.1.0/css/ol.css">
    <link rel="stylesheet" type="text/css" href="${project}/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="${project}/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css">
    <link rel="stylesheet" type="text/css" href="${project}/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="${project}/OpenLayers3/css/style.css">
    <link rel="stylesheet" type="text/css" href="${project}/css/map.css">
    <link rel="stylesheet" type="text/css" href="${project}/css/template-mdl.css">
    <link rel="stylesheet" type="text/css" href="${project}/css/modal.css">

    <!-- DateTimepicker CSS-->
    <link href="${project}/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

</head>
<body>
<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='${project}/img/Preloader_3.gif' width="64" height="64" /><br>Loading..</div>
<div class="se-pre-con"></div>
<!-- Inicio do layout MDL -->
<div class="mdl-layout cib-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- 	Menu Superior -->
    <header class="mdl-layout__header mdl-color--deep-green-cibiogas mdl-color-text--white">
        <div class="mdl-layout__header-row">
            <div class="esconde-celular">
                <img class="top-menu-imagem-centro" src="${project}/img/cibiogas-branco.png" border="0" alt="cibiogas_logo">
            </div>
            <div class="mdl-layout-spacer"></div>
            <div class="esconde-celular text-center"><strong>TDA-Map<br> MAPA BRASILEIRO DE SISTEMAS DE<br> TRATAMENTO DE DEJETOS ANIMAIS</strong></div>
            <div class="mdl-layout-spacer"></div>
            <div>
                <img class="card-image-top-menu-abc esconde celular" src="${project}/img/logos/abc3.png" border="0" alt="logo-abc">
                <img class="card-image-top-menu" src="${project}/img/logos-producao-mapa.png" border="0" alt="logo-mapa">
            </div>
        </div>
    </header>
    <!--     Fim menu superior -->

    <!-- 	inicio menu gaveta -->
    <div class="mdl-layout__drawer">
        <nav class="cib-navigation mdl-navigation mdl-color--white">

            <!-- INICIO - Download NOTA Tecnica -->
            <div class="sections-menu">
                <div class="col-md-12">
                    <p style="padding: 0px 6px;" class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title"><b><i class="fa fa-cloud-download" aria-hidden="true"></i> NOTA TÉCNICA</b></p>
                    <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Diagnóstico Tratamento de Dejetos Animais no Brasil</p>
                    <a id="btnNotaTecnica" type="button" class="btn btn-success btn-sm" target="_blank" href="https://mailchi.mp/redbiolac/nota_tecnica_expansao-da-adocao-da-tecnologia-de-tratamento-de-dejetos-animais-no-brasil">
                        <span class="fa fa-file-pdf-o" aria-hidden="true"></span> Download
                    </a>
                </div>
            </div>
            <!-- FIM - Download NOTA Tecnica -->

            <div class="separador"></div>

            <!-- TITULO -->
            <div class="sections-menu">
                <h2 class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-title">Filtros</h2>
            </div>
            <!-- TITULO -->

            <!-- INICIO LOCALIZACAO -->
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Localização</p>
                <select id="estados" name="estado-id" class="form-control input-sm">
                    <option value="0">Selecione o Estado</option>
                    <c:forEach items="${estados}" var="estado" varStatus="contador">
                        <option value="${estado.id}">${estado.nome}</option>
                    </c:forEach>
                </select>
                <div class="separador-invisivel"></div>
                <select disabled id="municipios" name="unidade.municipio.id" class="form-control input-sm">
                    <option value="0">Selecione o Município</option>
                </select>
            </div>
            <!-- FIM LOCALIZACAO -->

            <div class="separador"></div>

            <!-- INICIO TECNOLOGIA -->
            <div class="sections-menu">
                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Tecnologias de tratamento dos dejetos</p>
                <div class="btn-group-wrap">
                    <div class="btn-group" data-toggle="buttons">
                        <label style="width:94px; display:inline-block;" class="btn btn-xs btn-default sidebar-tecnologia">
                            <input id="biodigestor" type="checkbox" value="1">Biodigestão
                        </label>
                        <label style="width:115px; display:inline-block;" class="btn btn-xs btn-default sidebar-tecnologia">
                            <input id="compostagem" type="checkbox" value="2">Compostagem
                        </label>
                    </div>
                </div>
            </div>
            <!-- FIM TECNOLOGIA -->

            <div class="separador"></div>

            <!-- INICIO SECTION PRODUCAO DIARIA -->
            <div class="sections-menu">
                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Porte</p>
                <div class="btn-group-wrap">
                    <div class="btn-group" data-toggle="buttons">
                        <input class="text-center input-sm" type="text" id="escala-valores" readonly="readonly">
                        <div id="escala" class="slider"></div>
                    </div>
                </div>
            </div>
            <!-- FIM SECTION PRODUCAO DIARIA -->

            <div class="separador"></div>

            <!-- INICIO SECTION SUBSTRATO -->
            <div class="sections-menu">
                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Situação</p>

                <div class="btn-group-wrap">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label style="width:61px; display:inline-block;" class="btn btn-xs btn-default sidebar-situacao">
                            <input value="1" id="situacaoOperando" type="checkbox">Operando
                        </label>
                        <label style="width:75px; display:inline-block;" class="btn btn-xs btn-default sidebar-situacao">
                            <input value="2" id="situacaoConstruindo" type="checkbox">Construindo
                        </label>
                        <label style="width:75px; display:inline-block;" class="btn btn-xs btn-default sidebar-situacao">
                            <input value="3" id="situacaoReformando" type="checkbox">Reformando
                        </label>
                    </div>
                </div>
            </div>
            <!-- FIM SECTION SITUACAO -->

            <div class="separador"></div>

            <!-- INICIO ANO -->
            <div class="sections-menu">
                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Início da operação com uso energético do biogás</p>
                <div class="btn-group-wrap">
                    <div class="btn-group" data-toggle="buttons">
                        <label style="width:40px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2003" type="checkbox" value="2003">2003
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2004" type="checkbox" value="2004">2004
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2005" type="checkbox" value="2005">2005
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2006" type="checkbox" value="2006">2006
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2007" type="checkbox" value="2007">2007
                        </label>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <label style="width:40px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2008" type="checkbox" value="2008">2008
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2009" type="checkbox" value="2009">2009
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2010" type="checkbox" value="2010">2010
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2011" type="checkbox" value="2011">2011
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2012" type="checkbox" value="2012">2012
                        </label>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <label style="width:40px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2013" type="checkbox" value="2013">2013
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2014" type="checkbox" value="2014">2014
                        </label>
                        <label style="width:40px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2015" type="checkbox" value="2015">2015
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2016" type="checkbox" value="2016">2016
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2017" type="checkbox" value="2017">2017
                        </label>
                    </div>
                    <div class="btn-group" data-toggle="buttons">

                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2018" type="checkbox" value="2018">2018
                        </label>
                        <label style="width:41px; display:inline-block;" class="btn btn-xs btn-default sidebar-operacao">
                            <input id="ano2019" type="checkbox" value="2019">2019
                        </label>
                    </div>
                </div>
            </div>
            <!-- FIM ANO -->

            <div class="separador"></div>

            <!-- INICIO SECTION SUBSTRATO -->
            <div class="sections-menu">

                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Atividade produtiva fonte dos dejetos</p>

                <div class="btn-group-wrap">
                    <div id="toggle_bovinocultura" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="lbl_bovinocultura" style="width:212px;display:inline-block;" class="btn btn-xs btn-default sidebar-substrato">
                            <input value="3" id="bovinocultura" type="checkbox" autocomplete="off"><abbr style="cursor:default;" title="Bovinocultura de Leite ou Corte">Bovinocultura de Leite ou Corte</abbr>
                        </label>
                    </div>
                </div>

                <div class="btn-group-wrap">
                    <div id="toggle_SuinoculturaBovinoculturaAvicultura" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="lbl_SuinoculturaBovinoculturaAvicultura" style="width:212px;display:inline-block;" class="btn btn-xs btn-default sidebar-substrato">
                            <input value="2" id="suinoculturaBovinoculturaAvicultura" type="checkbox" autocomplete="off"><abbr style="cursor:default;" title="Suinocultura, bovinocultura e/ou avicultura">Suino. bovino. e/ou avicultura</abbr>
                        </label>
                    </div>
                </div>

                <div class="btn-group-wrap">
                    <div id="toggle_suinoculturaLaticinios" class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label id="lbl_suinocultura" style="width:212px; display:inline-block;" class="btn btn-xs btn-default sidebar-substrato">
                            <input value="1" id="suinocultura" type="checkbox" autocomplete="off"><abbr style="cursor:default;" title="Suinocultura">Suinocultura</abbr>
                        </label>
                    </div>
                </div>
            </div>
            <!-- FIM SECTION SUBSTRATO -->

            <div class="separador"></div>

            <!-- INICIO SECTION APLICACAO -->
            <div class="sections-menu">

                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title">Aplicação do biogás produzido na biodigestão</p>

                <div class="btn-group-wrap">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label style="width:105px; display:inline-block;" class="btn btn-xs btn-default sidebar-aplicacao">
                            <input value="false" id="aplicacaoTermica" type="checkbox">Térmica
                        </label>
                        <label style="width:105px; display:inline-block;" class="btn btn-xs btn-default sidebar-aplicacao">
                            <input value="false" id="aplicacaoEletrica" type="checkbox">Elétrica
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label style="width:105px; display:inline-block;" class="btn btn-xs btn-default sidebar-aplicacao">
                            <input value="false" id="aplicacaoMecanica" type="checkbox">Mecânica
                        </label>
                        <label style="width:105px; display:inline-block;" class="btn btn-xs btn-default sidebar-situacao">
                            <input value="false" id="aplicacaoBiometano" type="checkbox">GNV/Biometano
                        </label>
                    </div>
                </div>

            </div>
            <!-- FIM SECTION APLICACAO -->

            <div class="separador"></div>

            <!-- INICIO TECNOLOGIA -->
            <div class="sections-menu">
                <p class="mdl-card__supporting-text mdl-card__subtitle-text sidebar-section-title"><b><i class="fa fa-cloud-download" aria-hidden="true"></i> Geração de relatório consolidado</b></p>
                <div class="col-md-12">
                    <button id="button-clear" class="btn btn-default btn-sm">
                        <span class="fa fa-eraser" aria-hidden="true"></span> Limpar
                    </button>
                    <a id="btnRelatorioModal" type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="abrirModal()">
                        <span class="fa fa-file-text" aria-hidden="true"></span> Relatório
                    </a>
                </div>
            </div>
            <!-- FIM TECNOLOGIA -->

            <div class="mdl-layout-spacer"></div>
            <div class="separador-invisivel"></div>

        </nav>
    </div>
    <!--    FIM menu gaveta -->

    <!-- 	inicio conteudo -->
    <main class="mdl-layout__content mdl-color--grey-100">
        <section>
            <div id="mapa" tabindex="0">
                <div id="popup" class="ol-popup">
                    <!-- Botao fechar o popup -->
                    <a id="popup-closer" class="ol-popup-closer"></a>
                    <!-- Conteudo do popup -->
                    <div id="popup-content"></div>
                </div>
            </div>
            <div id="mousePosition"></div>
            <div class="esconde-celular" id="legenda"></div>
        </section>
    </main>
    <!-- 	FIM conteudo -->

</div>
<!-- Fim do layout MDL -->

<!-- Modal relatorio -->
<div class="modal fade" id="relatorioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title text-center" id="myModalLabel"><b>TDA-Map - RELATÓRIO</b></h5>
                <p style="margin-bottom: 1px;" class="text-center">MAPA BRASILEIRO DE SISTEMAS DE TRATAMENTO DE DEJETOS ANIMAIS</p>
            </div>
            <div class="modal-body">
                <div class="table-responsive panel">
                    <div class="text-center dados"><h3>Dados do sistema de tratamento de dejetos</h3></div>
                    <div class= "text-left"> <b style="display:inline;">Situação: </b><p style = "display:inline;" id="situacaoUnidades"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Atividade produtiva fonte dos dejetos: </b> <p style = "display:inline;" id="fonteSubstratoUnidades"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Região: </b> <p style = "display:inline;" id="regiaoUnidades"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Estado: </b> <p style = "display:inline;" id="estadoUnidades"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Município: </b> <p style = "display:inline;" id="municipioUnidades"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Ano de instalação das plantas: </b> <p style = "display:inline;" id="concatAnoOperacao"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Período do relatório: </b> <p style = "display:inline;" id="periodoRelatorio"></p><p style = "display:inline;"></p> </div>
                    <div class= "text-left"> <b style="display:inline;">Volume total de dejetos e efluentes tratados: </b> <p style = "display:inline;" id="volumeTotalDeDejetosEfluentes"></p><p style = "display:inline;"> m³/ano</p> </div>
                    <div class= "text-left"> <b style="display:inline;">Emissões de gases de efeito estufa (GEE) mitigadas: </b> <p style = "display:inline;" id="totalGEEEvitados"></p><p style = "display:inline;"> tCO2/ano</p> </div>

                    <div class="text-center dados"><h3>Tecnologia de tratamento de dejetos: Biodigestor</h3></div>
                    <div class="text-left"> <b style="display:inline;">Quantidade de unidades: </b> <p style = "display:inline;" id="quantidadeUnidadeBiodigestores"></p><p style = "display:inline;"></p> </div>
                    <div class="text-left"> <b style="display:inline;">Volume total de dejetos/efluentes tratados: </b> <p style = "display:inline;" id="volumeTotalDejetosEfluentesUnidadesBiodigestor"></p><p style = "display:inline;"> m³/ano</p></div>
                    <div class="text-left"> <b style="display:inline;">Produção total de biogás: </b> <p style = "display:inline;" id="producaoTotalBiogasUnidades"></p><p style = "display:inline;"> m³/ano</p></div>
                    <div class= "text-left"> <b style="display:inline;">Aplicação do biogás: </b> <p style = "display:inline;" id="aplicacaoUnidades"></p><p style = "display:inline;"></p> </div>

                    <div class="text-center dados"><h3>Tecnologia de compostagem</h3></div>
                    <div class="text-left"> <b style="display:inline;">Quantidade de unidades: </b> <p style = "display:inline;" id="quantidadeUnidadeCompostagem"></p><p style = "display:inline;"></p> </div>
                    <div class="text-left"> <b style="display:inline;">Volume total de composto produzido: </b> <p style = "display:inline;" id="volumeTotalCompostoProduzido"></p><p style = "display:inline;"> m³/ano</p></div>

                    <hr>
                    <div class="text-left"><b style="display:inline; ">Data de emissão do relatório: </b> <p style = "display:inline;" id="dataEmissaoRelatorio"></p><p style = "display:inline;"></p>
                        <hr>
                    </div>

                    <div style="padding:20px">
                        <img border="0" alt="logo cib" src="${project}/img/CIBiogas_logo.png" class="cib-modal" >
                        <img border="0" alt="logo_ministerio" src="${project}/img/ministerio-agricultura-pecuaria-logo.png" class="mapa-modal" style="margin-left:20px">
                    </div>

                    <div class="modal-footer">
                        <button data-loading-text="Loading..." id="btnDownloadRelatorioPdf" onclick="downloadRelatorioPdf()" type="button" class="btn btn-success">
                            <span class="fa fa-file-pdf-o" aria-hidden="true"></span> Download PDF
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIM Modal relatorio -->

<!-- Modal Erro -->
<div class="modal fade" id="relatorioModalErro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="myModalLabelnot">MAPA</h5>
            </div>
            <div class="modal-body">
                <p class="text-center">Nenhuma unidade foi encontrada com os filtros selecionados.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIM Modal Erro -->

<!-- jQUERY / BOOTSTRAP CHARTS JS -->
<script type="text/javascript" src="${project}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

<!--     @*Jquery CSV*@ -->
<script type="text/javascript" src="${project}/bower_components/jquery-csv/src/jquery.csv.min.js"></script>
<script type="text/javascript" src="${project}/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

<!--     @*DownloadJS*@ -->
<script type="text/javascript" src="${project}/bower_components/downloadjs/download.min.js"></script>

<!--     @*PDF*@ -->
<script type="text/javascript" src="${project}/bower_components/pdfmake/build/pdfmake.min.js"></script>
<script type="text/javascript" src="${project}/bower_components/pdfmake/build/vfs_fonts.js"></script>

<script type="text/javascript" src="${project}/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!--     @*Jquery IU*@ -->
<script type="text/javascript" src="${project}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${project}/material-design/material.js"></script>
<script type="text/javascript" src="${project}/bower_components/proj4/dist/proj4.js"></script>

<script type="text/javascript" src="${project}/OpenLayers3/3.1.0/build/ol.js"></script>
<script type="text/javascript" src="https://epsg.io/29191.js"></script>
<script type="text/javascript" src="https://epsg.io/31981.js"></script>
<script type="text/javascript" src="https://epsg.io/900913.js"></script>

<!-- @*Momentjs*@ -->
<script type="text/javascript" src="${project}/bower_components/moment/min/moment.min.js"></script>

<!-- Mapa -->
<script type="text/javascript" src="${project}/js/mapa/variaveis.js"></script>
<script type="text/javascript" src="${project}/js/mapa/relatorios.js"></script>
<script type="text/javascript" src="${project}/js/mapa/servicos.js"></script>
<script type="text/javascript" src="${project}/js/mapa/botoes.js"></script>
<script type="text/javascript" src="${project}/js/mapa/popup.js"></script>
<script type="text/javascript" src="${project}/js/mapa/verificadores.js"></script>
<script type="text/javascript" src="${project}/js/mapa/mapa.js"></script>

<!-- Controles para o mapa -->
<script type="text/javascript" src="${project}/OpenLayers3/js/controle/mouseposition.js"></script>

<!-- Ferramentas -->
<script type="text/javascript" src="${project}/OpenLayers3/js/ferramenta/legenda.js"></script>

</body>
</html>