<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/material-design-lite/material.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/material-fonts.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/material-icons.css")">

<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.css")">

<link rel="stylesheet" href="@routes.Assets.versioned("openlayers/3.1.0/css/ol.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/jquery-ui/themes/smoothness/jquery-ui.css")">

<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/jquery-toast-plugin/dist/jquery.toast.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css")">


<link rel="stylesheet" href="@routes.Assets.versioned("openlayers/css/style.css")">

<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/map.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/template-mdl.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/modal.css")">

<link rel="stylesheet" href="@routes.Assets.versioned("bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")">